*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
a {
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  border: none;
}

ul,
ol {
  list-style: none;
}

body {
  height: 2500px;
  margin: 0 auto;
  max-width: 1200px;
  overflow: scroll;
  background-color: #eee;
}
